In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import json
import pprint

In [60]:
with open( "C:/Users/NOOMAN KHAN/Downloads/file1.json/file1.json", 'r') as f:
     data = json.load(f)

In [77]:

headers = {"user-key": "YOUR_API_KEY_HERE"}
params = {"entity_id": 1, "entity_type": "city", "count": 20}

with open( "C:/Users/NOOMAN KHAN/Downloads/file1.json/file1.json", encoding='utf-8') as f:
     data = json.load(f)
        

dic = {'has_online_delivery' : [], 'photos_url' : [], 'url' : [], 'price_range': [], 'apikey': [], 
           'user_rating' : [], 'R': [], 'name': [], 'cuisines': [], 'is_delivering_now': [],
           'deeplink' : [], 'menu_url' : [],'average_cost_for_two' : [], 'book_url': [], 
           'switch_to_order_menu' : [], 'offers' : [], 
           'has_table_booking' : [], 'location': [], 'featured_image': [], 'zomato_events': [],
           'currency':[], 'id': [],
           'thumb': [], 'establishment_types': [], 'events_url':[]}

for restaurant in data:
    for j in restaurant["restaurants"]:
        try:
            dic["has_online_delivery"].append(j["restaurant"]["has_online_delivery"])
        except:
            dic["has_online_delivery"].append(np.nan)
        try:
            dic["photos_url"].append(j["restaurant"]["photos_url"])
        except:
            dic["photos_url"].append(np.nan)
        try:
            dic["url"].append(j["restaurant"]["url"])
        except:
            dic["url"].append(np.nan)
        try:
            dic["price_range"].append(j["restaurant"]["price_range"])
        except:
            dic["price_range"].append(np.nan)
        try:
            dic["apikey"].append(j["restaurant"]["apikey"])
        except:
            dic["apikey"].append(np.nan)
        try:
            dic["user_rating"].append(j["restaurant"]["user_rating"])
        except:
            dic["user_rating"].append(np.nan)
        try:
            dic["R"].append(j["restaurant"]["R"])
        except:
            dic["R"].append(np.nan)
        try:
            dic["name"].append(j["restaurant"]["name"])
        except:
            dic["name"].append(np.nan)
        try:
            dic["cuisines"].append(j["restaurant"]["cuisines"])
        except:
            dic["cuisines"].append(np.nan)
        try:
            dic["is_delivering_now"].append(j["restaurant"]["is_delivering_now"])
        except:
            dic["is_delivering_now"].append(np.nan)
        try:
            dic["deeplink"].append(j["restaurant"]["deeplink"])
        except:
            dic["deeplink"].append(np.nan)
        try:
            dic["menu_url"].append(j["restaurant"]["menu_url"])
        except:
            dic["menu_url"].append(np.nan)
        try:
            dic["book_url"].append(j["restaurant"]["book_url"])
        except:
            dic["book_url"].append(np.nan)
        try:
            dic["offers"].append(j["restaurant"]["offers"])
        except:
            dic["offers"].append(np.nan)
        try:
            dic["location"].append(j["restaurant"]["location"])
        except:
            dic["location"].append(np.nan)
        try:
            dic["featured_image"].append(j["restaurant"]["featured_image"])
        except:
            dic["featured_image"].append(np.nan)
        try:
            dic["zomato_events"].append(j["restaurant"]["zomato_events"])
        except:
            dic["zomato_events"].append(np.nan)
        try:
            
            dic["currency"].append(j["restaurant"]["currency"])
        except:
            dic["currency"].append(np.nan)
        try:
            dic["id"].append(j["restaurant"]["id"])
        except:
            dic["id"].append(np.nan)
        try:
            dic["thumb"].append(j["restaurant"]["thumb"])
        except:
            dic["thumb"].append(np.nan)
        try:
            dic["establishment_types"].append(j["restaurant"]["establishment_types"])
        except:
            dic["establishment_types"].append(np.nan)
        try:
            dic["events_url"].append(j["restaurant"]["events_url"])
        except:
            dic["events_url"].append(np.nan)
        try:
            dic["average_cost_for_two"].append(j["restaurant"]["average_cost_for_two"])
        except:
            dic["average_cost_for_two"].append(np.nan)
        try:
            dic["switch_to_order_menu"].append(j["restaurant"]["switch_to_order_menu"])
        except:
            dic["switch_to_order_menu"].append(np.nan)
        try:
            dic["has_table_booking"].append(j["restaurant"]["has_table_booking"])
        except:
            dic["has_table_booking"].append(np.nan)

KeyError: 'restaurants'

In [82]:
df = pd.DataFrame(dic)
df.head()

,has_online_delivery,photos_url,url,price_range,apikey,user_rating,R,name,cuisines,is_delivering_now,...,offers,has_table_booking,location,featured_image,zomato_events,currency,id,thumb,establishment_types,events_url
0,1,https://www.zomato.com/HauzKhasSocial/photos?u...,https://www.zomato.com/HauzKhasSocial?utm_sour...,3,b90e6a8c738410315a20c449fe2eb1b1,"{'rating_text': 'Very Good', 'rating_color': '...",{'res_id': 308322},Hauz Khas Social,"Continental, American, Asian, North Indian",0,...,[],1,"{'latitude': '28.5542851000', 'address': '9-A ...",https://b.zmtcdn.com/data/pictures/2/308322/cf...,[{'event': {'display_date': '05 April - 21 May...,Rs.,308322,https://b.zmtcdn.com/data/pictures/2/308322/cf...,[],https://www.zomato.com/HauzKhasSocial/events#t...
1,0,https://www.zomato.com/ncr/qubitos-the-terrace...,https://www.zomato.com/ncr/qubitos-the-terrace...,3,b90e6a8c738410315a20c449fe2eb1b1,"{'rating_text': 'Excellent', 'rating_color': '...",{'res_id': 18037817},Qubitos - The Terrace Cafe,"Thai, European, Mexican, North Indian, Chinese...",0,...,[],1,"{'latitude': '28.6471325000', 'address': 'C-7,...",https://b.zmtcdn.com/data/pictures/7/18037817/...,[{'event': {'display_date': '16 April - 17 Apr...,Rs.,18037817,https://b.zmtcdn.com/data/pictures/7/18037817/...,[],https://www.zomato.com/ncr/qubitos-the-terrace...
2,1,https://www.zomato.com/ncr/the-hudson-cafe-del...,https://www.zomato.com/ncr/the-hudson-cafe-del...,2,b90e6a8c738410315a20c449fe2eb1b1,"{'rating_text': 'Very Good', 'rating_color': '...",{'res_id': 312345},The Hudson Cafe,"Cafe, Italian, Continental, Chinese",0,...,[],0,"{'latitude': '28.6949468000', 'address': '2524...",https://b.zmtcdn.com/data/pictures/5/312345/03...,NaN,Rs.,312345,https://b.zmtcdn.com/data/pictures/5/312345/03...,[],https://www.zomato.com/ncr/the-hudson-cafe-del...
3,0,https://www.zomato.com/ncr/summer-house-cafe-h...,https://www.zomato.com/ncr/summer-house-cafe-h...,3,b90e6a8c738410315a20c449fe2eb1b1,"{'rating_text': 'Very Good', 'rating_color': '...",{'res_id': 307490},Summer House Cafe,"Italian, Continental",0,...,[],1,"{'latitude': '28.5525204000', 'address': '1st ...",https://b.zmtcdn.com/data/pictures/0/307490/e0...,[{'event': {'display_date': '16 April - 17 Apr...,Rs.,307490,https://b.zmtcdn.com/data/pictures/0/307490/e0...,[],https://www.zomato.com/ncr/summer-house-cafe-h...
4,0,https://www.zomato.com/ncr/38-barracks-connaug...,https://www.zomato.com/ncr/38-barracks-connaug...,3,b90e6a8c738410315a20c449fe2eb1b1,"{'rating_text': 'Very Good', 'rating_color': '...",{'res_id': 18241537},38 Barracks,"North Indian, Italian, Asian, American",0,...,[],1,"{'latitude': '28.6330248887', 'address': 'M-38...",https://b.zmtcdn.com/data/pictures/7/18241537/...,NaN,Rs.,18241537,https://b.zmtcdn.com/data/pictures/7/18241537/...,[],https://www.zomato.com/ncr/38-barracks-connaug...

In [127]:
df1 = df.copy()

In [128]:
df1 = df1.drop(["photos_url", "url", "apikey", "R", "featured_image",
                "zomato_events", "thumb","events_url", "establishment_types"], axis = 1)

In [129]:
df1 = df1.drop(["id", "deeplink", "menu_url", "book_url", "offers"], axis = 1)
df1

,has_online_delivery,price_range,user_rating,name,cuisines,is_delivering_now,average_cost_for_two,switch_to_order_menu,has_table_booking,location,currency
0,1,3,"{'rating_text': 'Very Good', 'rating_color': '...",Hauz Khas Social,"Continental, American, Asian, North Indian",0,1600,0,1,"{'latitude': '28.5542851000', 'address': '9-A ...",Rs.
1,0,3,"{'rating_text': 'Excellent', 'rating_color': '...",Qubitos - The Terrace Cafe,"Thai, European, Mexican, North Indian, Chinese...",0,1500,0,1,"{'latitude': '28.6471325000', 'address': 'C-7,...",Rs.
2,1,2,"{'rating_text': 'Very Good', 'rating_color': '...",The Hudson Cafe,"Cafe, Italian, Continental, Chinese",0,850,0,0,"{'latitude': '28.6949468000', 'address': '2524...",Rs.
3,0,3,"{'rating_text': 'Very Good', 'rating_color': '...",Summer House Cafe,"Italian, Continental",0,1850,0,1,"{'latitude': '28.5525204000', 'address': '1st ...",Rs.
4,0,3,"{'rating_text': 'Very Good', 'rating_color': '...",38 Barracks,"North Indian, Italian, Asian, American",0,1600,0,1,"{'latitude': '28.6330248887', 'address': 'M-38...",Rs.
...,...,...,...,...,...,...,...,...,...,...,...
1175,0,3,"{'rating_text': 'Very Good', 'rating_color': '...",The Boozy Cow,"Burger, Grill",0,40,0,0,"{'latitude': '55.9519740000', 'address': '17 F...",£
1176,0,3,"{'rating_text': 'Excellent', 'rating_color': '...",La Favorita,Italian,0,30,0,0,"{'latitude': '55.9646694444', 'address': '325-...",£
1177,0,3,"{'rating_text': 'Excellent', 'rating_color': '...",Roseleaf Bar Cafe,"Scottish, Cafe",0,45,0,0,"{'latitude': '55.9766440000', 'address': '23-2...",£
1178,0,3,"{'rating_text': 'Good', 'rating_color': '9ACD3...",Civerinos,"Pizza, Italian",0,35,0,0,"{'latitude': '55.9496370000', 'address': '5 Hu...",£
1179,0,3,"{'rating_text': 'Good', 'rating_color': '9ACD3...",The Hanging Bat,American,0,35,0,0,"{'latitude': '55.9456222222', 'address': '133 ...",£

In [130]:
rating_text = []
ratings = []
votes = []
for i in df["user_rating"]:
    rating_text.append(i["rating_text"])
    ratings.append(i["aggregate_rating"])
    votes.append(i["votes"])

In [131]:
df1["rating_text"] = rating_text
df1["ratings"] = ratings
df1["votes"] = votes

In [132]:
df1 = df1.drop(["user_rating"], axis = 1)
df1

,has_online_delivery,price_range,name,cuisines,is_delivering_now,average_cost_for_two,switch_to_order_menu,has_table_booking,location,currency,rating_text,ratings,votes
0,1,3,Hauz Khas Social,"Continental, American, Asian, North Indian",0,1600,0,1,"{'latitude': '28.5542851000', 'address': '9-A ...",Rs.,Very Good,4.3,7931
1,0,3,Qubitos - The Terrace Cafe,"Thai, European, Mexican, North Indian, Chinese...",0,1500,0,1,"{'latitude': '28.6471325000', 'address': 'C-7,...",Rs.,Excellent,4.5,778
2,1,2,The Hudson Cafe,"Cafe, Italian, Continental, Chinese",0,850,0,0,"{'latitude': '28.6949468000', 'address': '2524...",Rs.,Very Good,4.4,1537
3,0,3,Summer House Cafe,"Italian, Continental",0,1850,0,1,"{'latitude': '28.5525204000', 'address': '1st ...",Rs.,Very Good,4.1,1823
4,0,3,38 Barracks,"North Indian, Italian, Asian, American",0,1600,0,1,"{'latitude': '28.6330248887', 'address': 'M-38...",Rs.,Very Good,4.4,840
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,0,3,The Boozy Cow,"Burger, Grill",0,40,0,0,"{'latitude': '55.9519740000', 'address': '17 F...",£,Very Good,4.0,36
1176,0,3,La Favorita,Italian,0,30,0,0,"{'latitude': '55.9646694444', 'address': '325-...",£,Excellent,4.5,329
1177,0,3,Roseleaf Bar Cafe,"Scottish, Cafe",0,45,0,0,"{'latitude': '55.9766440000', 'address': '23-2...",£,Excellent,4.7,163
1178,0,3,Civerinos,"Pizza, Italian",0,35,0,0,"{'latitude': '55.9496370000', 'address': '5 Hu...",£,Good,3.7,27
1179,0,3,The Hanging Bat,American,0,35,0,0,"{'latitude': '55.9456222222', 'address': '133 ...",£,Good,3.5,31

In [133]:
latitude = []
longitude = []
State = []
for i in df1["location"]:
    latitude.append(i["latitude"])
    longitude.append(i["longitude"])
    State.append(i["locality_verbose"].split(",")[-1])

In [134]:
df1["latitude"] = latitude
df1["longitude"] = latitude
df1["State"] = State

In [135]:
df1 = df1.drop(["location", "currency", "switch_to_order_menu", "is_delivering_now"], axis = 1)

In [137]:
df1 = df1[["name", "State", "longitude", "latitude", "ratings", "rating_text","votes",
          "cuisines","price_range", "has_online_delivery", "average_cost_for_two"]]
df1.head()

,name,State,longitude,latitude,ratings,rating_text,votes,cuisines,price_range,has_online_delivery,average_cost_for_two
0,Hauz Khas Social,New Delhi,28.5542851000,28.5542851000,4.3,Very Good,7931,"Continental, American, Asian, North Indian",3,1,1600
1,Qubitos - The Terrace Cafe,New Delhi,28.6471325000,28.6471325000,4.5,Excellent,778,"Thai, European, Mexican, North Indian, Chinese...",3,0,1500
2,The Hudson Cafe,New Delhi,28.6949468000,28.6949468000,4.4,Very Good,1537,"Cafe, Italian, Continental, Chinese",2,1,850
3,Summer House Cafe,New Delhi,28.5525204000,28.5525204000,4.1,Very Good,1823,"Italian, Continental",3,0,1850
4,38 Barracks,New Delhi,28.6330248887,28.6330248887,4.4,Very Good,840,"North Indian, Italian, Asian, American",3,0,1600

In [138]:
df1.to_csv("Zomato.csv")

In [139]:
df1.dtypes

name                    object
State                   object
longitude               object
latitude                object
ratings                 object
rating_text             object
votes                   object
cuisines                object
price_range              int64
has_online_delivery      int64
average_cost_for_two     int64
dtype: object

In [141]:
df1[["longitude", "latitude", "ratings"]] = df1[["longitude", "latitude", "ratings"]].astype("float64")

C:\Users\NOOMAN KHAN\AppData\Local\Temp\ipykernel_17016\4065202342.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[["longitude", "latitude", "ratings"]] = df1[["longitude", "latitude", "ratings"]].astype("float64")

In [143]:
df1["votes"]=df1["votes"].astype("int64")

C:\Users\NOOMAN KHAN\AppData\Local\Temp\ipykernel_17016\4276079713.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["votes"]=df1["votes"].astype("int64")

In [144]:
df1.dtypes

name                     object
State                    object
longitude               float64
latitude                float64
ratings                 float64
rating_text              object
votes                     int64
cuisines                 object
price_range               int64
has_online_delivery       int64
average_cost_for_two      int64
dtype: object

In [145]:
df1

,name,State,longitude,latitude,ratings,rating_text,votes,cuisines,price_range,has_online_delivery,average_cost_for_two
0,Hauz Khas Social,New Delhi,28.554285,28.554285,4.3,Very Good,7931,"Continental, American, Asian, North Indian",3,1,1600
1,Qubitos - The Terrace Cafe,New Delhi,28.647133,28.647133,4.5,Excellent,778,"Thai, European, Mexican, North Indian, Chinese...",3,0,1500
2,The Hudson Cafe,New Delhi,28.694947,28.694947,4.4,Very Good,1537,"Cafe, Italian, Continental, Chinese",2,1,850
3,Summer House Cafe,New Delhi,28.552520,28.552520,4.1,Very Good,1823,"Italian, Continental",3,0,1850
4,38 Barracks,New Delhi,28.633025,28.633025,4.4,Very Good,840,"North Indian, Italian, Asian, American",3,0,1600
...,...,...,...,...,...,...,...,...,...,...,...
1175,The Boozy Cow,Edinburgh,55.951974,55.951974,4.0,Very Good,36,"Burger, Grill",3,0,40
1176,La Favorita,Edinburgh,55.964669,55.964669,4.5,Excellent,329,Italian,3,0,30
1177,Roseleaf Bar Cafe,Edinburgh,55.976644,55.976644,4.7,Excellent,163,"Scottish, Cafe",3,0,45
1178,Civerinos,Edinburgh,55.949637,55.949637,3.7,Good,27,"Pizza, Italian",3,0,35
1179,The Hanging Bat,Edinburgh,55.945622,55.945622,3.5,Good,31,American,3,0,35